.movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardbox {
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.cardbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}



.cardbox-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out;
    gap: 2%;
}




.cardbox:hover img {
    transform: scale(1.1);
    filter: brightness(0.5);
}

.cardbox:hover .cardbox-layer {
    opacity: 1;
    background: rgba(0, 0, 0, 0.85);
}



.cardbox-layer h3 {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.cardbox-layer p{
    text-align: justify;
    font-size: 1vw ;
    max-width: 80%;
}

.cardbox-layer a {
    color: red;
    font-size: 1.5vw;
    transition: transform 0.3s ease-in-out;
}

.cardbox-layer a:hover {
    transform: scale(1.2);
}


@media (max-width: 768px) {
    .cardbox-layer h3 {
        font-size: 2vw;
    }
    .cardbox-layer p{
        font-size: 1.5vw ;
    }
}

@media (max-width: 480px) {
    .movie-card{
        height: 90%;
    }
    .cardbox-layer h3 {
        font-size: 3vw;
    }
    .cardbox-layer p{
        font-size: 2.5vw
    }
}