@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);

}
.banner-description{
    position: absolute;
    z-index: 90;
    left: 5%;
    bottom: 25%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.title{
    font-size: 5vw;
    line-height: 1;
}
.description{
    text-align: justify;
}

.banner-buttons{
    position: absolute;
    bottom: 15%;
    left: 5%;
    display: flex;
    gap: 2vw;
}

.button{
    display: flex;
    background: white;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    color: black;
    font-size: 1.5rem;
    align-items: center;
    transition: 0.5s;
}

.button a{
    color: inherit;
    text-decoration: none;
    cursor: default;
}

.button:hover{
    border: 2px solid black;
    transform: scale(1.1);
    transition: 0.3s;
    color: red;
    border: 3px solid red;
}

.movie-card-section{
    width: 100%;
    padding: 2vh 5%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.movie-card-section h1{
    font-size: 5vw;
    font-weight: 600;
}


.fire{
    width:5vw;
    height: 5vw;
    color: red;
}

.moviecards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem; 
} 



@media (max-width: 768px) {
    .moviecards-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-area: auto;
        gap: 2rem;
    } 
    .description{
        display: none;
    }
    .banner-buttons p , .play{
        font-size: 2.5vw;
    }
    .banner-buttons{
        bottom: 4vw;
        gap: 1.5vw;
    }

}

@media (max-width: 480px) {
    .moviecards-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-area: auto;
        gap: 2rem;
    } 
    .moviecards-container{
        gap: 0;
    } 
    
}