.navbar{
  width: 100%;
  padding: 2vh 5%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 1.1rem;
  background: transparent;
  z-index: 500;
}

.navbar-left{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.route-link{
  color: white;
  text-decoration: none;
}

.head-logo{
  font-weight: bold;
  color: red;
  font-size: 2rem;
}

.navbar-left ul{
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-left ul li{
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-left ul li:hover{
  transition: all 0.3s ease;
  color: red;
  transform: scale(1.05);
}

.navbar-right{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icons{
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}
.icons:hover{
  transition: all 0.3s ease;
  color: red;
  transform: scale(1.1);
}

.navbar-profile{
  padding: 0.5rem;
  display: flex;
  border-radius: 20%;
  position: relative;
}

.dropdown{
  position:absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: underline;
  display: none;
  z-index: 100;
}

.dropdown p{
  cursor: pointer;
  font-size: 1rem;
}

.dropdown-search input{
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: inherit;
  color: inherit;
}

.dropdown-search input::placeholder{
  color: white;
}

input:focus, select:focus{
  outline:none;
}

.navbar-profile:hover .dropdown{
  display: block;
}

.TabSelected{
  color: red;
}

.navbar {
  width: 100%;
  padding: 2vh 5%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.1rem;
  background: transparent;
  transition: background 0.4s ease-in-out;
  z-index: 100;
}

.navbar.scrolled {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(10px); /* Optional: Adds a blur effect */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Optional: Adds depth */
}

@media (max-width: 768px) {
  .navbar-right{
    display: none;
  }
  .navbar-left ul{
    display: none;
  }
  body{
    padding-top: 75px;
  }
}